!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Middleman"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    %header.bHeaderWrapper
      .bHeader
        .bHeader-logo
          = link_to image_tag('images/logo.svg', alt: 'CoopCoin'), '/'
        .bHeader-navigation
          #hamburger.bHeader-hamburger= svg_tag('hamburger')
          %ul#menu.aNavigation
            %li.aNavigation-item
              = link_to I18n.t('navigation.home'), '/'
            %li.aNavigation-item
              = link_to I18n.t('navigation.abts'), '/abt'
            %li.aNavigation-item
              = link_to I18n.t('navigation.documents'), '/documents'
            %li.aNavigation-item
              = link_to I18n.t('navigation.contact'), '/contact'
    = yield
    .bFooterWrapper
      .bFooter
        .bFooter-infos
          .bFooter-logo= image_tag('logo_white.png')
          .bFooter-social
            .bFooter-social-text= I18n.t('footer.social')
            .bFooter-icons
              .aIcon= link_to image_tag('icons/github.svg', alt: 'GitHub'), "https://github.com/coopcoin"
              .aIcon= link_to image_tag('icons/twitter.svg', alt: 'Twitter'), "https://twitter.com/coop_coin"
              .aIcon= link_to image_tag('icons/telegram.svg', alt: 'Telegram'), "https://t.me/coopcoin"
              .aIcon= link_to image_tag('icons/reddit.svg', alt: 'Reddit'), "https://reddit.com/r/coopcoin"
        .bFooter-links
