---
title: CoopCoin - ABTRC
---

.bRow
  .bRow-content
    %h1.aHeadline.asLeft.asLarge{style: "margin: 0px"}= t('abtrc.header.headline')
    .bList
      .bList-item
        .aText
          .aText-paragraph= t('abtrc.header.text')
      .bList-item
        = svg_tag('abtrc_illustration')

.bRow.asSecondary.withLargePadding
  .bRow-content
    %h2.aHeadline= t('abtrc.requirements.headline')
    .bList.asCentered
      .bList-item
        .aIconWithText
          .aIconWithText-icon= svg_tag('icons/abtrc/icon1')
          .aIconWithText-text= t('abtrc.requirements.realworld')
      .bList-item
        .aIconWithText
          .aIconWithText-icon= svg_tag('icons/abtrc/icon2')
          .aIconWithText-text= t('abtrc.requirements.accessible')
      .bList-item
        .aIconWithText
          .aIconWithText-icon= svg_tag('icons/abtrc/icon3')
          .aIconWithText-text= t('abtrc.requirements.marketsize')
      .bList-item
        .aIconWithText
          .aIconWithText-icon= svg_tag('icons/abtrc/icon4')
          .aIconWithText-text= t('abtrc.requirements.liquidity')
.bRow
  .bRow-content
    %h3.aHeadline.asLarger= t('abtrc.current_abts.headline')
    .bList
      .bList-item.asCentered
        .aButtons.asColumns
          = link_to t('documents.links.abt100'), '/pdfs/CoopCoin-ABTRC100-Factoring.pdf', class: 'aButton'
          = link_to t('documents.links.abt100_business_case'), '/pdfs/CoopCoin_ABT100_Business_Case.pdf', class: 'aButton'
      .bList-item
        .aText-paragraph= t('abtrc.current_abts.description')
