---
title: CoopCoin - Contact 
---

.bRow.withLargePadding
  .bRow-content
    %h1.aHeadline.asLeft.asLarge= t('contact.headline')
    .aText
      .aText-paragraph= t('contact.intro')

    .aSocialIcons.contact
      .aSocialIcons-icon= link_to svg_tag('icons/contact/telegram'), 'https://t.me/coopcoin', target: '_blank'
      .aSocialIcons-icon= link_to svg_tag('icons/contact/github'), 'https://github.com/coopcoin', target: '_blank'
      .aSocialIcons-icon= link_to svg_tag('icons/contact/twitter'), 'https://twitter.com/coop_coin', target: '_blank'
      .aSocialIcons-icon= link_to svg_tag('icons/contact/reddit'), 'https://reddit.com/r/coopcoin', target: '_blank'

    .google-form
      %iframe{src: "https://docs.google.com/forms/d/e/1FAIpQLSdjlKVocyM9ZHjLgGXpaB2dcdgEmw6rMGwxK5L8D3LiPIhnyA/viewform?embedded=true", width: "100%", height: 2400, frameborder: 0, marginwidth: 0, marginheight: 0 }
        loading
