---
title: Coopcoin
---

.bRow.withLargePadding
  .bRow-content
    %h1.aHeadline.asLeft.asLarge= t('documents.headline')
    .aText
      .aText-paragraph= t('documents.intro')
    .aButtons
      = link_to t('documents.links.whitepaper'), '#', class: 'aButton'
      = link_to t('documents.links.abtrc100'), '#', class: 'aButton'
      = link_to t('documents.links.abt100_business_case'), '#', class: 'aButton'
