---
title: Coopcoin
---

.bRow
  .bRow-content
    .bList.withThreeItems
      .bList-item
        .bList-headline= t('factoring.benefits.headline')
      .bList-item
        .aIconWithText
          .aIconWithText-icon= svg_tag('icons/factoring/icon1')
          .aIconWithText-text= t('factoring.benefits.benefit1')
      .bList-item
        .aIconWithText
          .aIconWithText-icon= svg_tag('icons/factoring/icon2')
          .aIconWithText-text= t('factoring.benefits.benefit2')
      .bList-item
        .aIconWithText
          .aIconWithText-icon= svg_tag('icons/factoring/icon3')
          .aIconWithText-text= t('factoring.benefits.benefit3')
      .bList-item
        .aIconWithText
          .aIconWithText-icon= svg_tag('icons/factoring/icon4')
          .aIconWithText-text= t('factoring.benefits.benefit4')
      .bList-item
        .aIconWithText
          .aIconWithText-icon= svg_tag('icons/factoring/icon5')
          .aIconWithText-text= t('factoring.benefits.benefit5')

.bRow.asSecondary.withLargePadding
  .bRow-content

.bRow
  .bRow-content

.bRow.asSecondary
  .bRow-content

.bRow
  .bRow-content
